@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as variables;

.btn-container{
    height: inherit;
    grid-template-rows: min-content;

    &.gap-xs{
        gap: variables.$spacing-xs;
    }
    &.gap-sm{
        gap: variables.$spacing-sm;
    }
    &.gap-md{
        gap: variables.$spacing-md;
    }
    &.gap-lg{
        gap: variables.$spacing-lg;
    }
    &.gap-xl{
        gap: variables.$spacing-xl;
    }
    &.gap-2xl{
        gap: variables.$spacing-2xl;
    }

    ::ng-deep .mat-badge-content{
        z-index: 1;
        font-size: 1rem;
        background-color: rgb(0, 0, 0);
        color: rgb(255,255,255);
    }
    
    .pep-button{
        display: flex;
        justify-content: center;

        .icon-container{
            display: flex;
            aspect-ratio : 1/1;
            padding: variables.$spacing-xs;

            // max-height: 4rem;
            // overflow: hidden;

            img{
                aspect-ratio: 1/1;
        }
        }
    }
}