<div class="btn-container"
     [ngStyle]="getStyles()"
     [ngClass]="['gap-'+ configuration?.ButtonsBarConfig?.Structure?.Gap || 'none']">
        <div *ngFor ="let btn of configuration?.Buttons || []; let currentButton = index"
                mat-button class="pep-button button-title-with-icon"
                [ngClass]="[configuration?.ButtonsBarConfig?.Structure?.Size || 'md', btn?.Style || 'weak']"
                [style.width]="btnWidth"
                [ngStyle]="{'justify-content': (btn.Icon.Position == 'end' ? 'space-between' : 'unset')}"
                matBadgePosition="above after" 
                [matBadgeSize]="configuration?.ButtonsBarConfig?.Structure?.Size == 'sm' ? 'small' : configuration?.ButtonsBarConfig?.Structure?.Size == 'md' ? 'medium' : 'large'"
                matBadgeOverlap=true matBadgeColor="warn"
                [matBadge]="btn?.Badge?.UseBadge && btn?.Badge?.LinkBadge ? btn.Badge.LinkBadge : ''"
                (click)="onButtonClick(btn)">
             <div *ngIf="btn.Icon?.Position == 'end'">
                {{btn?.Label?.UseLabel ? btn.Label.Label : ''}}   
            </div>
            <div class="icon-container" *ngIf="btn.Icon.UseIcon"
                [ngStyle]="{'margin-right' : btn.Icon.Position == 'start' ? '.75rem' : 'unset'}">
                <img [src]="btn.Icon?.Url || ''"/>
            </div>  
            <div *ngIf="btn.Icon?.Position == 'start'">
                {{btn?.Label?.UseLabel ? btn.Label.Label : ''}}   
            </div>
        </div>
        <pep-button *ngFor ="let btn of configuration?.Buttons || []; let currentButton = index" 
                    [style.width]="btnWidth"
                    [iconName]="btn?.Icon?.UseIcon ? btn.Icon.Name : ''"
                    [iconPosition]="btn?.Icon?.UseIcon ? btn?.Icon?.Position : 'end'"
                    [value]="btn?.Label?.UseLabel ? btn.Label.Label : ''" 
                    [sizeType]="configuration?.ButtonsBarConfig?.Structure?.Size || 'md'"
                    [styleType]="btn?.Style || 'weak'"
                    matBadgePosition="above after" 
                    [matBadgeSize]="configuration?.ButtonsBarConfig?.Structure?.Size == 'sm' ? 'small' : configuration?.ButtonsBarConfig?.Structure?.Size == 'md' ? 'medium' : 'large'"
                    matBadgeOverlap=true matBadgeColor="warn"
                    [matBadge]="btn?.Badge?.UseBadge && btn?.Badge?.LinkBadge ? btn.Badge.LinkBadge : ''"
                    (click)="onButtonClick(btn)">
        </pep-button>    
</div>