<div class="card-editor-container">
    <div>
        <pep-button classNames="lock-events" sizeType="xs" iconName="system_move"></pep-button>
    </div>
    <div *ngIf="title !== ''" class="title-container" (click)="onEditClick();"
        [ngStyle]="{'cursor' : (id == selectedButton ? 'n-resize' : 's-resize')}">
        <span class="body-sm ellipsis">{{id + 1}}.&nbsp;</span>
        <span class="body-sm color-link bold ellipsis" title="">{{configuration?.Label?.Label || 'TITLE'}}</span>
    </div>
    <pep-menu
        *ngIf="showActions"
        sizeType="xs"
        [items]="actiosMenu"
        (menuItemClick)="onMenuItemClick($event)">
    </pep-menu>
    <div class="editorCont" *ngIf="id == selectedButton"> 
        <div>
            <pep-checkbox class="checkbox-as-title" 
                        [value]="configuration?.Label?.UseLabel" 
                        [label]="'EDITOR.CONTENT.TEXT' | translate" 
                        [renderTitle]="false" 
                        (valueChange)="onFieldChange('Label.UseLabel',$event)">
            </pep-checkbox>
            <pep-textbox [label]="'EDITOR.CONTENT.BUTTON_TEXT' | translate" 
                        [class]="'pep-field-no-spacing'"
                        [disabled]="!configuration?.Label.UseLabel"
                        [value]="configuration?.Label?.Label" 
                        (valueChange)="onFieldChange('Label.Label',$event)">
            </pep-textbox>
        </div>
        <div>
            <label class="body-xl bold ellipsis">{{'EDITOR.CONTENT.STYLE' | translate}}</label>
            <pep-select [label]="'EDITOR.CONTENT.CHOOSE_STYLE' | translate" [value]="configuration?.Style" 
                        [options]="buttonStyles" (valueChange)="onFieldChange('Style',$event)" [emptyOption]="false" 
                        styleType="regular">
            </pep-select>
        </div>
       
            <pep-icon-picker 
                    [header]="'EDITOR.CONTENT.ICON.TITLE' | translate"
                    [iconURL]="configuration?.Icon?.Url || ''"
                    [disabled]="!configuration?.Icon.UseIcon" 
                    (iconChange)="onIconChange($event)"
                    (iconDisableChange)="onUseIconChange($event)">
            </pep-icon-picker>

            <pep-group-buttons-settings [groupType]="'custom'" [btnsArray]="iconPosition" [header]=""
                    [disabled]="!configuration?.Icon.UseIcon"
                    [subHeader]="'EDITOR.CONTENT.ICON.CHOOSE_POSITION' | translate"
                    [btnKey]="configuration?.Icon?.Position">
            </pep-group-buttons-settings>
       
        <div>
            <pep-checkbox class="checkbox-as-title" 
                    [value]="configuration?.Badge?.UseBadge || 'false'" 
                    [label]="'EDITOR.CONTENT.BADGE' | translate" 
                    [renderTitle]="false" 
                    (valueChange)="onFieldChange('Badge.UseBadge',$event)">
            </pep-checkbox>
            <pep-textbox [label]="'EDITOR.CONTENT.LINK_BADGE' | translate"
                    [class]="'pep-field-no-spacing'"
                    [disabled]="!configuration?.Badge.UseBadge"
                    [value]="configuration?.Badge?.LinkBadge || ''" 
                    (valueChange)="onFieldChange('Badge.LinkBadge',$event)">
            </pep-textbox>
            <pep-color [key]="'color1'" 
                        [label]="'EDITOR.CONTENT.BADGE_COLOR' | translate"
                        [disabled]="!configuration?.Badge.UseBadge"
                        [value]="configuration?.Badge.Color"
                        [checkAAComplient]="true" 
                        [showAAComplient]="true" 
                        [type]="'any'"
                        (valueChange)="onFieldChange('Badge.Color',$event)">
            </pep-color>
        </div>
        <div>
            <pep-field-title [label]="'EDITOR.CONTENT.ON_CLICK_FLOW' | translate"></pep-field-title>
            <pep-flow-picker-button [flowHostObject]="flowHostObject" (flowChange)="onFlowChange($event)"></pep-flow-picker-button>
        </div>
        <pep-textbox [label]="'EDITOR.CONTENT.ACTION_KEY' | translate" type="string" [disabled]="true" 
        [value]="configuration?.ButtonKey"></pep-textbox>
    </div>
</div>
